
/* Common styles  */
body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #264653;
    color: white;
}

.container{
    margin-top: 100px;
    margin-bottom:100px;
}

.bg-orange{
    background-color: #E76F51;
}

.bg-modal-body{
    background-color:#3b5f6d;  
}

.text-orange{
    color:#E76F51;
}

.gray-scale{
    filter: grayscale(100%);
}


/* Happy Clients */
.card img{
    width: 149px;
}

/* fav bike  */

.fav-bg{
    background-color:#264653;
}
